/* Sidebar Styles */
#sidebar {
    width: 16rem;
    padding-left: 1rem;
    background-color: #1a202c;
    color: #fff;
    white-space: nowrap;
    transition: transform 0.5s ease, width 0.5s ease, padding 0.5s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
    transform: translateX(0);
}

#sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}

#sidebar.active {
    transform: translateX(0);
    opacity: 1;
}

/* Main Content Styles */
#main-content {
    margin-left: 0;
    transition: margin-left 0.5s ease, transform 0.5s ease;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-content.expanded {
    margin-left: 0;
}

/* Responsive rules for smaller screens */
@media (max-width: 768px) {
    #sidebar {
        width: 50%;
        position: fixed;
        top: 0;
        left: -50%;
        height: 100%;
        transition: left 0.4s ease-out, transform 0.4s ease-out, opacity 0.4s ease-out;
    }

    #sidebar.active {
        left: 0;
        transform: translateX(0);
        opacity: 1;
    }

    #main-content {
        margin-left: 0;
    }

    #menuButton {
        display: block;
    }
}

#menuButton {
    display: none;
}

body {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}